
/* 
        LEVEL ONE
*/
ul.navigation                           { position: relative; z-index: 999}
ul.navigation li                        { font-weight: normal; float: left; zoom: 1 ; font-size: 13px; padding: 5px 18px}
ul.navigation a:hover                   { color: #000; }
ul.navigation a:active                  { color: #ffa500; }
ul.navigation li a                      { display: block; padding: 4px 8px;;
                                        color: #FFF; }
ul.navigation li:last-child a           { border-right: none; } /* Doesn't work in IE */
ul.navigation li.hover,
ul.navigation li:hover                  { background: #705536; color: #FFD798; position: relative; }
ul.navigation li.hover a                { color: #FFD798; }


/* 
        LEVEL TWO
*/
ul.navigation ul                        { min-width: 150px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.navigation ul li                     { font-weight: normal; background: #333333; color: #000; 
                           float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.navigation ul li a			{ border-right: none; width: 100%; display: inline-block; } 

/* 
        LEVEL THREE
*/
ul.navigation ul ul 			{ left: 100%; top: 0; width: 180px}
ul.navigation li:hover > ul 		{ visibility: visible; }

ul.navigation li > ul li                { background: #232323; padding: 2px 18px}
ul.navigation li > ul li a              {color:#FFF}
ul.navigation li > ul li:hover          { background: #000; color: #FFF; position: relative; }
ul.navigation li > ul li:hover a        { color: #FFF; }

.breadcrumbs {
    margin: -10px 0 25px;
    font-size: 11px;
}
.breadcrumbs a {
    color: #705536
}