/* 
    Document   : print
    Created on : 24/10/2012, 15:04:16
    Author     : mac1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
h1 {
    display: none;
}
* {
    font-size: 11pt;
}
a {
    text-decoration: none; color: #000
}
div.top {
    display: none
}
div.menu {
    display: none;
}
div.breadcrumbs{
    display: none;
}
p.sub-title {
    font-size: 10pt
}
.hidden-print {
    display: none !important;
}
